@import "theme.css";
@import "anims/root-anims.css";
@import "menu.css";
@import "header.css";
@import "components/root-components.css";

/************************/
/***    html, body    ***/
/************************/
html, body {
  font-family: 'Roboto', sans-serif;

  letter-spacing: .1rem;

  color: var(--my-text-primary);

  background: var(--my-bg-primary);
}

/***********************/
/***    h markups    ***/
/***********************/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;

  letter-spacing: .14rem;

  color: var(--my-text-primary);
}

/********************/
/***    Header    ***/
/********************/
header {
  z-index: 999;
}

/******************/
/***    Icon    ***/
/******************/
.icon {
  width : 1.8rem;
  height: 1.4rem;

  cursor: pointer;

  transition: opacity .1s ease-in-out;
}

.icon:hover { opacity: .75 }

.icon svg {
  width : 100%;
  height: 100%;
}

/***    Icon: small    ***/
.icon.icon-sm {
  width : 1.4rem;
  height: 1rem;
}

/***    Icon: medium    ***/
.icon.icon-md {
  width : 2.8rem;
  height: 2.4rem;
}

/*********************/
/***    Section    ***/
/*********************/
.section {
  width     : 100vw;
  min-height: 100vh;

  padding: 200px 0;

  display        : flex;
  justify-content: center;
  align-items    : center;

  overflow: hidden;

  z-index: 1;
}

/***    Section: Container Top    ***/
.section .con-top { padding-bottom: 124px }

/***    Section: Title    ***/
.section .sec-title { font-weight: 600 }

/***    Section: Description    ***/
.section .sec-desc {
  line-height: 1.6rem;

  font-weight: 300;

  letter-spacing: .14rem;

  color: var(--my-text-primary-64);
}

/***    Section Description: breaker    ***/
.section .sec-desc span { color: var(--my-text-primary) }
