/******************/
/***    Fork    ***/
/******************/
#sec-contact .fork {
  position: absolute;

  -webkit-transform: rotateZ(30deg);
  -moz-transform   : rotateZ(30deg);
  -ms-transform    : rotateZ(30deg);
  -o-transform     : rotateZ(30deg);
  transform        : rotateZ(30deg);
}

/***    Fork: First    ***/
#sec-contact .fork:first-of-type {
  top : -7rem;
  left: 0;
}

/***    Fork: Last    ***/
#sec-contact .fork:last-of-type {
  bottom: -7rem;
  right : -1rem;
}
