:root { --con-me-size: 1 }

/***********************/
/***    Container    ***/
/***********************/
#sec-home .con-me {
  position: fixed;

  top : 0;
  left: 0;
}

/***    Container before    ***/
#sec-home .con-me::before {
  content: '';

  position: fixed;

  width : 100%;
  height: 100%;

  top : 0;
  left: 0;

  background-image       : url("./../../assets/svgs/ball.svg");
  background-repeat      : no-repeat;
  background-position    : center;
  -webkit-background-size: clamp(500px, 50vh, 650px);
  background-size        : clamp(500px, 50vh, 650px);

  -webkit-transform: scale(var(--con-me-size));
  -moz-transform   : scale(var(--con-me-size));
  -ms-transform    : scale(var(--con-me-size));
  -o-transform     : scale(var(--con-me-size));
  transform        : scale(var(--con-me-size));

  z-index: -1;
}

/*********************************/
/***    button: scroll down    ***/
/*********************************/
#sec-home .scroll-down {
  position: absolute;

  left : 0;
  right: 0;

  margin: 0 auto;

  bottom: 3rem;

  z-index: 1;
}

/***    animation button: scroll down    ***/
#sec-home .scroll-down #rect2051 {
  -webkit-animation: scroll-down 3s infinite cubic-bezier( .65, 0, .35, 1);
  -o-animation     : scroll-down 3s infinite cubic-bezier( .65, 0, .35, 1);
  animation        : scroll-down 3s infinite cubic-bezier( .65, 0, .35, 1);
}
